{% extends "dashboard/base.html" %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'cards/css/card.css' %}">
{% endblock %}
{% block content %}

<div class="center-box">

  <div class="card-preview active">
      <div class="card-chip"></div>
      <div class="card-logo">Ofsgesara.io</div>

      <div class="card-number">{{ card.masked_pan }}</div>

      <div class="card-bottom">
          <div class="card-name">{{ card.name_on_card }}</div>
          <div class="card-expiry">VALID THRU {{ card.display_expiry }}</div>
      </div>

      <div class="card-status">Status: <strong>Active</strong></div>
  </div>

  <div class="details">
      <p><b>Card Holder:</b> {{ card.name_on_card }}</p>
      <p><b>Last 4:</b> {{ card.last4 }}</p>
      <p><b>Expiry:</b> {{ card.display_expiry }}</p>
      <p><b>Status:</b> Active</p>
  </div>

</div>
{% endblock %}

<style>

</style>
